$c_bg:          #ffffff;
$c_link:        #0000a0;
$c_visited:     #8000a0;
$c_hover:       #d04000;
$c_focus:       #a0a0a0;
$c_focus:       #60a0ff;
$c_grey:        #999999;
$c_border:      #d0d0d0;
$c_light:       #e8e8e8;
$c_blue:        #0070ff;
$c_marker:      #fff8b8;

$c_error:       #ff0000;
$c_admin:       #009030;

$thin:          0.85;

$time:          .5s;