@import 'compass';
@import 'mx_icons';

@import 'var';
@import 'reset';
@import 'e2_text';
@import 'e2_tag_filter';
@import 'e2_search';
@import 'e2_pages';
@import 'e2_drag';
@import 'e2_glass';
@import 'e2_message';
@import 'e2_login_sheet';

@import 'controls';
@import 'icons';

.e2-note, .e2-comment {
  margin-bottom: 40px;
}

.e2-note h1 {
  @include transition-property((font-size, line-height));
  @include transition-duration(.25s);
  @include transition-timing-function(ease-out);
}

.help { font-size: 11px; }
.help a, .help a:active, .help a:visited { color: #999; border-color: transparentize(#999, $thin) }
.help a:hover { color: $c_hover; border-color: transparentize($c_hover, $thin) }







a, a u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
}

a {
  color: $c_link;
  border-color: transparentize($c_link, $thin);
  @include transition-property((border-bottom, border-color, background, color));
  @include transition-duration($time);
  @include transition-timing-function(ease-out);
}

a:visited {
  color: $c_visited;
  border-color: transparentize($c_visited, $thin)
}

a:hover,
a.hover,
.e2-clickable-keyboard-shortcut:hover,
.e2-clickable-keyboard-shortcut.hover {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin);
  @include transition(none);
}

.e2-pseudolink {
  border-bottom-style: dashed;
}

.e2-clickable-keyboard-shortcut {
  cursor: pointer;
  cursor: hand;
}

// hidden notes and comments
.e2-hidden { opacity: .4 }

// search highlight
.e2-marked {
  background: $c_marker;
}

.e2-spam, .e2-spam * {
  color: #b96;
}

.e2-upload-error { color: $c_error; }

.e2-visual-login {
  position: relative;
  left: 4px;
  bottom: 4px;
  opacity: .25;
}


.e2-rss, .e2-rss:visited {
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 1px 1px 1px 3px !important;
  font-size: 10px;
  line-height: 10px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
}

.e2-rss:hover, .e2-rss.hover {
  color: #fff;
  background: $c_hover;
}




/* reserved */

.nu {
  text-decoration: none;
  border-bottom-width: 0;
  u { 
    text-decoration: none;
    border-bottom-width: 1px;
  }
}

.small { font-size: 85%; }


/*

reserved classes:
  .text (input.text)
  .hover
  .nu
  .big (input.big)
  .small
  .fotorama
  .social-likes
  .i-
  .form-*
  .e2-*

*/