.chzn-container {
  background: var(--inputBackgroundColor);
  color: var(--inputTextColor);
  border-radius: 4px;
}

.chzn-container * {
  line-height: 100%;
}

.chzn-container .chzn-drop {
  margin-top: 2px;
  border-radius: 2px;
  border: none;
  background: var(--inputBackgroundColor);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  padding: 1px 0 0 0;
}

.chzn-container-multi .chzn-choices {
  padding: 4px 0 0 4px;
}


.chzn-container-multi .chzn-choices .search-choice {
  display: inline-block;
  border-radius: 2px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  color: var(--foregroundColor);
  padding: 4px 6px;
  margin: 0 4px 4px 0;
  background: var(--backgroundColor);
  border: 1px var(--backgroundColor) solid;
  box-shadow: none;
  text-shadow: none;
}

.chzn-container-multi .chzn-choices .search-field input {
  height: 100%;
  padding: 6px 0;
  margin: 0;
  color: var(--inputTextColor) !important;
}

.chzn-container .chzn-results .highlighted,
.chzn-container .chzn-results li,
.chzn-container .chzn-results li em,
.chzn-container .chzn-results .highlighted em {
  line-height: 13px;
}

.chzn-container .chzn-results .highlighted {
  border-radius: 2px;
  background-color: Highlight;
  background-image: none;
  color: HighlightText;
}

.chzn-container .chzn-results li em {
  background: transparent;
  font-style: normal;
  border-bottom: 1px #999 solid;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
  border-bottom: 1px Highlight solid;
}

.chzn-container-multi .chzn-choices {
  border-radius: 4px;
  border: none;
  // border: 1px var(--c_border solid;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

.chzn-container-active .chzn-choices .search-field input,
.chzn-container-multi .chzn-choices .search-field .default {
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  color: var(--foregroundColor);
  border: none;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  color: var(--hoverColor);
}

.chzn-container-multi .chzn-choices .search-choice-focus {
  background: Highlight;
  border: 1px Highlight solid;
  box-shadow: none;
  text-shadow: none;
}