body {
  background: #faf6f0;
}

input[type='search'] {
  outline: none;
}

h1, h2, h3 { 
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #301800;
}

.sidebar h2 {
  color: #603000;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .17em;
  margin-right: -.17em;
}

.e2-text {
  font-family: "Georgia";
}

.e2-marked {
  background: #e5cfef;
}

.i-important-unset {
  background-image: url('../images/marker.png');
}